.banner{
    display:flex;
    justify-content: center;
    gap:20px;
    margin:20px;
}
.top {
    display: flex;
    justify-content: space-between;   
    align-items: center;              
    padding: 10px 20px;
}


.banner img{
    width:auto;   
    height:70px;
    
}
.banner h1{
    margin-left: 35px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li{
    list-style: none;
    
    
}
li a{
    text-decoration: none;
    color:black;
    margin:12px;
}


nav ul{
    display:flex;
    gap: 0px; 
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a{
     text-decoration: none;
    font-weight: bold;
}
nav li a:hover{
text-decoration: underline;
}
.button{
    text-align: center;
}
.button a{
    text-decoration: none;
    color: white;
    font-size:20px;
    background-color:black;
    border-radius:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.container{
    display:flex;
}
.sec1{
    flex:1;
    margin-top:100px;
}
.sec2{
    flex:1;
    display:flex;
    align-content: left;
    margin-top:50px;
}
.sec2 img{
    width:auto;
    height:500px;
    margin-left:100px;
    margin-top:20px;
}
.sec1 h1{
     margin-top:100px;
    text-align: center;
    font-size:45px;
}
.sec1 h3{
    text-align: center;
    
}

.sec1 p{
    text-align: center;
 
}
.sec2 img{
    border:2px solid black;
    border-radius: 5px;
}
.box{
    display:flex;
    justify-content:center;
    align-items: center;
}
.text{
   
    margin-top:200px;
    
}
.text h1{
    font-size:45px;
    text-align: center;
}
.text h3{
    font-size: 30px;
    text-align: center;
}

