.banner{
    display:flex;
    justify-content: center;
    margin:20px;
}
.top-bar {
    display: flex;
    justify-content: space-between;   
    align-items: center;              
    padding: 10px 20px;
}

.banner img{
    width:auto;   
    height:70px;
    
}
.banner h1{
    margin-left: 35px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li{
    list-style: none;
    
    
}
li a{
    text-decoration: none;
    color:black;
    margin:12px;
}


nav ul{
    display:flex;
    gap: 0px; 
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a{
     text-decoration: none;
    font-weight: bold;
}
nav li a:hover{
text-decoration: underline;
}
