.banner{
    display:flex;
}
.banner img{
    margin-right:40px;
    width:auto;
    height:70px;
    
}
.banner h1{
    margin-right: 15px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
}
li{
    list-style: none;
    
    
}
li a{
    text-decoration: none;
    color:black;
    margin:12px;
}
.nav{
    display:flex;
    justify-content: flex-end;
}
